$body-color: #edf1f4;
$body-color-2: #fff;
$sidebar-color: #fff;
$primary-color: #92ad0f;
$primary-color-1: #dbe3c6;
$primary-color-light: #f2f6fa;
$text-color: #707070;

$form-color: #fff;
$input-color: #edf1f4;
$label-color: #808389;

$tran-01: all 0.2s ease;
$tran-02: transform 0.2s ease;

$big: 1240px;
$medium: 980px;
$small: 620px;

$big-down: "only screen and (max-width: #{$big})";
$medium-down: "only screen and (max-width: #{$medium})";
$small-down: "only screen and (max-width: #{$small})";
